<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/css/filmCategories.css">
    <title>Film Categories</title>
</head>
<body>
    <div class='gallery'>
        <% filmCategories.map(function(item) { %>        
            <div class='gallery_category'>
                <h3>ID: <%= item.id %></h3>
                <h3>Title: <%= item.title %></h3>
                <p>Description: <%= item.description %></p>
                <span>Films ID: <%= item.films %></span>   
            </div>
        <% }) %>
        <div class='gallery_paging'>
            <% if (prev) { %>
                <a href="/api/films/categories/pages/<%= (+page - 1) %>" class='gallery_panging-link'>Prev</a>
            <% } %>
            <% if (next) { %>
                <a href="/api/films/categories/pages/<%= (+page + 1) %>" class='gallery_panging-link'>Next</a>
            <% } %>
        </div>
    </div>
</body>
</html>